<table mat-table [dataSource]="dataSourceCategory" class="mat-elevation-z8 shadow1 myTable">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{ 'name' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field
        [ngClass]="editCacheCategory[element.id.toString()].edit ?'mat-form-field-not-disabled':''" mat-placeholder=""
        floatLabel="never">
        <input [readonly]="!editCacheCategory[element.id.toString()].edit" placeholder="{{ 'name' | translate }}"
               [(ngModel)]="editCacheCategory[element.id.toString()].data.name" matInput>
      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field
        [ngClass]="editCacheCategory[element.id.toString()].edit ?'mat-form-field-not-disabled':''" mat-placeholder=""
        floatLabel="never">
        <mat-select [disabled]="!editCacheCategory[element.id.toString()].edit"
                    [(value)]="editCacheCategory[element.id.toString()].data.sex"
                    placeholder="Type">
          <mat-option value="">
          </mat-option>
          <mat-option value="H">Fresh
          </mat-option>
          <mat-option value="F">Preserved
          </mat-option>
        </mat-select>

      </mat-form-field>
    </td>
  </ng-container>
  <ng-container matColumnDef="actionsColumn">
    <th class="wc-100" mat-header-cell *matHeaderCellDef><a color="primary" mat-icon-button *ngIf="!addCategorie" (click)="add()">
      <mat-icon>add_circle</mat-icon>
    </a></th>
    <td class="" mat-cell *matCellDef="let element" class="wc-100">
      <div class="d-flex flex-row flex-nowrap">
        <a color="primary" mat-icon-button *ngIf="!editCacheCategory[element.id.toString()].edit"
           (click)="startEdit(element.id.toString())">
          <mat-icon>edit</mat-icon>
        </a>
        <a color="primary" mat-icon-button *ngIf="editCacheCategory[element.id.toString()].edit"
           (click)="saveEdit(element.id.toString())">
          <mat-icon>done</mat-icon>
        </a>
        <a color="primary" mat-icon-button *ngIf="editCacheCategory[element.id.toString()].edit"
           (click)="cancelEdit(element.id.toString())">
          <mat-icon>cancel</mat-icon>
        </a>
        <a color="warn" mat-icon-button *ngIf="!editCacheCategory[element.id.toString()].edit"
           (click)="delete(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </a>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

